* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*###############*/
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: Inter;
  color: #7E7E7E;
  letter-spacing: 0.36px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1220px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}

.header__top {
  background: #F2F2F2;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 426px) {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.top-h__container {
  padding: 21px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-h__hours {
  color: #1C2752;
}
.top-h__img {
  padding: 3px;
  margin-right: 20px;
}
.top-h__img:last-child {
  margin-right: 0px;
}

.body-h {
  padding: 30px 0px 30px 0;
}
.body-h__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .body-h__text {
    display: none;
  }
}
.body-h__mail {
  color: #1C2752;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}
@media (max-width: 426px) {
  .contacts {
    gap: 30px;
  }
}

.mail-text {
  font-family: "Mulish";
  font-size: 20px;
  line-height: 130%;
}

.text-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-text {
  font-size: 17px;
  line-height: 159%;
}

.circle {
  padding: 23px 20px;
  height: 68px;
  background: #FFB342;
  border-radius: 100px;
}

.block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.header-m {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 45px;
  background: #FFB342;
}
@media (max-width: 426px) {
  .header-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 13px;
    gap: 10px;
  }
}
.header-m__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 49px;
}
.header-m__list a {
  color: #222222;
}
.header-m__list a:hover {
  color: #FFFFFF;
}
@media (max-width: 376px) {
  .header-m__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header-m__button {
  background: #1C2752;
  border: 2px solid #1C2752;
  color: #F4F4F4;
  padding: 19px 42px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-m__button:hover {
  color: #1C2752;
  border: 2px solid #fff;
  background: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 426px) {
  .header-m__button {
    padding: 16px 20px;
  }
}

/*##########################################################*/
.leader {
  margin-top: -52px;
  background-image: url("../img/IMAGE_bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}
.leader__container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.leader__bg-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  max-width: 662px;
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 31px;
}
.leader__bg-text::before {
  padding-right: 30px;
  padding: 3px 35px 4px 4px;
  content: "";
  background-image: url(../img/icons/IMAGE_metal-circle.png);
  background-repeat: no-repeat;
}
.leader__title {
  max-width: 712px;
  font-family: "Mulish";
  font-size: calc(27px + 33 * ((100vw - 320px) / 1120));
  line-height: 130%;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 29px;
}
.leader__button {
  max-width: 227px;
}
@media (max-width: 426px) {
  .leader__button {
    max-width: 170px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19px 0;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
  line-height: 150%;
  letter-spacing: 0.36px;
  color: #1C2752;
  display: flex;
  background: #FFB342;
  border: 2px solid #FFB342;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #f7a121;
  border: 2px solid #f4b85d;
}

/*#################################*/
.provide-future {
  margin: 140px 0;
}
@media (max-width: 426px) {
  .provide-future {
    margin: 70px 0;
  }
}
.provide-future__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 769px) {
  .provide-future__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}
.provide-future__img {
  margin-right: 50px;
}
@media (max-width: 426px) {
  .provide-future__img img {
    max-width: 100%;
    max-height: 100%;
  }
}
.provide-future__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.provide-future__bg-text {
  max-width: 249px;
  color: #1C2752;
}
.provide-future__text1 {
  font-size: 18px;
  margin-bottom: 10px;
}
.provide-future__text {
  margin-bottom: 27px;
}
.bg-text {
  background: #F4F4F4;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 150%;
  padding-left: 20px;
  margin-bottom: 22px;
}
.bg-text::before {
  content: "";
  padding: 3px 10px 4px 20px;
  background-image: url(../img/icons/IMAGE_mini-logo.png);
  background-repeat: no-repeat;
}

.title {
  font-size: 45px;
  line-height: 130%;
  color: #1C2752;
  margin-bottom: 12px;
}
@media (max-width: 425px) {
  .title {
    text-align: center;
  }
}

.exp-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 769px) {
  .exp-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.exp-block__square {
  padding: 24px 43px 40px 43px;
  background: #F4F4F4;
  margin-right: 40px;
}
.exp-block__years {
  font-size: 80px;
  line-height: 110%;
  text-align: center;
  color: #FFB342;
}
.exp-block__text {
  max-width: 112px;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #1C2752;
}
.exp-block__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 426px) {
  .exp-block__item:not(:last-child) {
    margin-bottom: 5px;
  }
}

/*###############################*/
.professiaonal-service {
  background: #FFB342;
}
.professiaonal-service__container {
  padding: 140px 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 426px) {
  .professiaonal-service__container {
    padding-top: 70px;
  }
}
.professiaonal-service__bg-text {
  max-width: 207px;
  padding-right: 10px;
  color: #1C2752;
}
.professiaonal-service__text {
  color: #1C2752;
  max-width: 832px;
  margin-bottom: 37px;
}
.professiaonal-service__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  color: #222222;
  margin-bottom: 40px;
}
@media (max-width: 426px) {
  .professiaonal-service__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.professiaonal-service__button-city {
  padding: 20px 41px;
  max-width: 249px;
  border: 1px solid #1C2752;
}
.professiaonal-service__button-city::before {
  content: "";
  padding: 2px;
  background-image: url(../img/icons/IMAGE_city.svg);
  background-repeat: no-repeat;
  padding-right: 45px;
}
.professiaonal-service__button-home {
  padding: 20px 41px;
  max-width: 249px;
  border: 1px solid #1C2752;
}
.professiaonal-service__button-home::before {
  content: "";
  background-image: url(../img/icons/IMAGE_home.svg);
  background-repeat: no-repeat;
  padding-right: 45px;
}
.professiaonal-service__button-industry {
  padding: 19px 41px;
  max-width: 249px;
  border: 1px solid #1C2752;
}
.professiaonal-service__button-industry::before {
  content: "";
  background-image: url(../img/icons/IMAGE_ind.svg);
  background-repeat: no-repeat;
  padding-right: 45px;
}
@media (max-width: 426px) {
  .professiaonal-service__commercial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.button-black {
  border: 1px solid #1C2752;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 41px;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
  line-height: 150%;
  letter-spacing: 0.36px;
  color: #1C2752;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button-black:hover {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.commercial {
  margin-top: -60px;
  background: #FFFFFF;
  -webkit-box-shadow: -1px 6px 18px rgba(0, 0, 0, 0.09);
          box-shadow: -1px 6px 18px rgba(0, 0, 0, 0.09);
  padding: 70px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 85px;
}
@media (max-width: 769px) {
  .commercial {
    padding: 70px 0px;
  }
}
@media (max-width: 767.98px) {
  .commercial {
    padding: 30px 10px;
  }
}
@media (max-width: 321px) {
  .commercial {
    padding: 30px 0px;
  }
}
.commercial__content {
  margin-right: 75px;
}
@media (max-width: 321px) {
  .commercial__content {
    margin-right: 64px;
  }
}
.commercial__bg-text {
  max-width: 259px;
  color: #1C2752;
  padding-right: 10px;
}
.commercial__button {
  max-width: 190px;
}
@media (max-width: 426px) {
  .commercial__button {
    margin-bottom: 20px;
  }
}
@media (max-width: 426px) {
  .commercial__img img {
    max-width: 100%;
    max-height: 100%;
  }
}
.commercial__title {
  margin-top: 23px;
}
.commercial__text1 {
  margin-bottom: 10px;
}
.commercial__text {
  margin-bottom: 27px;
}

/*#########################################################*/
.our-service {
  background: #F4F4F4;
}
.our-service__container {
  padding: 238px 15px 140px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 426px) {
  .our-service__container {
    padding-top: 160px;
    padding-bottom: 70px;
  }
}
.our-service__bg-text {
  padding-right: 10px;
  background: #FFF;
  color: #1C2752;
}
.our-service__bg-text::before {
  content: "";
  padding: 3px 10px 4px 20px;
  background-image: url(../img/icons/IMAGEpen.svg);
  background-repeat: no-repeat;
}
.our-service__text {
  max-width: 819px;
  text-align: center;
  margin-bottom: 47px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 30px 1fr;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
      grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 769px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
  }
}
@media (max-width: 426px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.grid__block {
  background: #1C2752;
  padding: 40px 35px;
}
@media (max-width: 426px) {
  .grid__block {
    padding: 30px 35px;
  }
}
.grid__icon {
  margin-bottom: 20px;
}
.grid__title {
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #FFB342;
  margin-bottom: 15px;
}
.grid__text {
  margin-bottom: 22px;
  color: #D2D2D2;
}
.grid__view-more {
  color: #FFFFFF;
}

/*############################################*/
.our-project {
  background: #1C2752;
}
.our-project__container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 150px 15px 190px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 426px) {
  .our-project__container {
    padding: 75px 0;
  }
}
.our-project__title {
  color: #FFFFFF;
}
.our-project__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 1024px) {
  .our-project__slider {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 426px) {
  .our-project__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider-f {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider-f:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-bottom: 30px;
}

.slider__card {
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  padding: 21px 21px 10px 21px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 426px) {
  .slider__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.slider__img {
  margin-bottom: 27px;
}
@media (max-width: 426px) {
  .slider__img {
    width: 80%;
    height: 80%;
  }
}
.slider__title {
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  color: #1C2752;
  margin-bottom: 4px;
}
.slider__minitext {
  font-size: 17px;
  line-height: 159%;
  text-align: center;
  color: #7E7E7E;
}

/*###########################################*/
.feedback h2 {
  color: #1C2752;
}
.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 145px 15px;
}
@media (max-width: 426px) {
  .feedback__container {
    padding: 75px 0;
  }
}
.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  margin-bottom: 100px;
}
@media (max-width: 769px) {
  .feedback__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.feedback__bg-text {
  color: #1C2752;
  margin-bottom: 22px;
  padding: 3px 13px 3px 23px;
}
.feedback__bg-text::before {
  content: "";
  padding: 3px 10px 4px 20px;
  background-image: url(../img/icons/IMAGEpen.svg);
  background-repeat: no-repeat;
}
.feedback__title {
  margin-top: 22px;
}
.feedback__comments {
  border: 1px solid #DDDDDD;
}
.feedback__line {
  height: 1px;
  background: #DCDCDC;
}
.feedback__block {
  background: #FFB342;
  padding: 60px 68px 50px 40px;
}
.feedback__percent {
  margin-top: 22px;
  font-size: 25px;
  line-height: 130%;
  color: #1C2752;
  margin-bottom: 13px;
}
.feedback__qa {
  color: #1C2752;
  line-height: 150%;
  margin-bottom: 23px;
}
.feedback__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback__logo-numb {
  background: #FFFFFF;
  height: 55px;
  width: 55px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.feedback__logo-numb:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #ededed;
}
.feedback__numb {
  font-size: 30px;
  line-height: 150%;
  color: #FFFFFF;
}
.feedback__form {
  background: #F4F4F4;
  padding: 50px 40px 52px 40px;
}
.feedback__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback__title2 {
  margin-bottom: 47px;
}
.feedback__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 142px;
}
@media (max-width: 1024px) {
  .feedback__icons {
    gap: 55px;
  }
}
@media (max-width: 769px) {
  .feedback__icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 426px) {
  .feedback__icons {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.comments {
  padding: 41px;
  margin-bottom: 40px;
}
.comments__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}
.comments__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comments__text {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.comments__name {
  font-family: Mulish;
  font-size: 22px;
  line-height: 140%;
  color: #1C2752;
}
.comments__icons {
  background: #FFB342;
  border-radius: 100px;
  height: 55px;
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.comments__comment {
  margin-top: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #7E7E7E;
  font-style: italic;
  margin-bottom: 23px;
}
.comments__comment span {
  color: #1C2752;
}
.comments__buttons button {
  background: #F4F4F4;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.comments__buttons button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #e0dfdf;
}
.comments__next {
  margin-right: 21px;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.form textarea {
  width: 484px;
  height: 150px;
  font-size: 17px;
  line-height: 159%;
  color: #1C2752;
  padding: 19px 0 0 44px;
}
@media (max-width: 426px) {
  .form textarea {
    width: 340px;
  }
}
@media (max-width: 426px) {
  .form textarea {
    width: 300px;
  }
}
@media (max-width: 321px) {
  .form textarea {
    width: 240px;
  }
}
.form button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFB342;
  border: 2px solid #FFB342;
  padding: 20px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 159%;
  color: #1C2752;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #f7a121;
  border: 2px solid #f7a121;
}

.input {
  width: 484px;
  height: 65px;
  font-size: 17px;
  line-height: 159%;
  color: #1C2752;
  padding-left: 44px;
}
@media (max-width: 426px) {
  .input {
    max-width: 340px;
  }
}
@media (max-width: 426px) {
  .input {
    width: 300px;
  }
}
@media (max-width: 321px) {
  .input {
    width: 240px;
  }
}

/*#####################################*/
.prices {
  background: #F4F4F4;
}
.prices__container {
  padding: 150px 15px 135px 15px;
}
@media (max-width: 769px) {
  .prices__container {
    padding: 80px 0 95px 0;
  }
}
@media (max-width: 425px) {
  .prices__container {
    padding: 30px 0 30px 0;
  }
}
.prices__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 769px) {
  .prices__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .prices__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.prices__bg-text {
  background: #FFFFFF;
  color: #1C2752;
  padding: 3px 13px 3px 23px;
}
.prices__bg-text::before {
  content: "";
  padding: 3px 10px 4px 20px;
  background-image: url(../img/icons/IMAGEpen.svg);
  background-repeat: no-repeat;
}
.prices__title {
  margin-top: 23px;
}
.prices__right {
  max-width: 400px;
}
.prices__text {
  font-size: 18px;
  line-height: 1.5;
}
.prices__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 62px;
}
@media (max-width: 769px) {
  .prices__columns {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .prices__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.prices__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  background: #FFFFFF;
  padding: 40px 40px 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 769px) {
  .prices__column {
    padding: 40px 30px 50px 30px;
  }
}
.prices__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 425px) {
  .prices__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.prices__min-text {
  font-family: "Mulish";
  font-size: 20px;
  line-height: 1.4;
  color: #1C2752;
  position: relative;
  padding-left: 40px;
}
.prices__min-text::before {
  content: url(../img/IMAGEdone-border.png);
  padding-top: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.prices__texts {
  font-size: 17px;
  line-height: 1.59;
  padding-left: 40px;
}

.column-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.column-p__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}
.column-p__plan {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #1C2752;
}
.column-p__price {
  font-family: "Mulish";
  font-size: 32px;
  line-height: 1.1;
  color: #1C2752;
}
.column-p__right {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.32px;
}
.column-p__line {
  height: 1px;
  background: #D7D7D7;
  margin-bottom: 29px;
}
.column-p__list {
  margin-bottom: 55px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.column-p__item {
  font-size: 17px;
  line-height: 27px;
  text-transform: capitalize;
  line-height: 1.59;
  position: relative;
  padding-left: 25px;
}
.column-p__item::before {
  content: url(../img/IMAGEdone.svg);
  padding-top: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.column-p__item:not(:last-child) {
  margin-bottom: 20px;
}
.column-p__bbutton {
  background: #FFB342;
  border: 2px solid #FFB342;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0;
  font-size: 20px;
  line-height: 1.5;
  color: #1C2752;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.column-p__bbutton:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #f7a121;
  border: 2px solid #f7a121;
}
.column-p__popular {
  text-transform: uppercase;
  color: #1C2752;
  line-height: 1.5;
  background: #FFB342;
  text-align: center;
  margin-bottom: 15px;
}
/*##############################################*/
.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 15px;
}
@media (max-width: 768px) {
  .news__container {
    padding: 60px 15px;
  }
}
.news__bg-text {
  padding: 3px 13px 3px 23px;
  color: #1C2752;
}
.news__bg-text::before {
  content: "";
  padding: 3px 10px 4px 20px;
  background-image: url(../img/icons/IMAGEpen.svg);
  background-repeat: no-repeat;
}
.news__title {
  margin-bottom: 40px;
}
.news__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .news__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.news__img {
  margin-top: -20px;
  max-width: 100%;
  max-height: 100%;
}
.news__orange-block {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.3px;
  color: #1C2752;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: -35px 0 23px 0;
}
.news__creator {
  padding: 21px 38px 21px 50px;
  position: relative;
  background: #FFC368;
}
.news__creator::before {
  padding: 15px 19px 6px 0px;
  content: "";
  background-image: url(../img/icons/Vectorpeople.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 21px;
  left: 21px;
}
.news__date {
  padding: 21px 25px 21px 42px;
  background: #FFB342;
  position: relative;
}
.news__date::before {
  padding: 15px 19px 6px 0px;
  content: "";
  background-image: url(../img/icons/Vectortime.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 23px;
  left: 14px;
}
.news__subtitle {
  font-family: "Mulish";
  font-size: 30px;
  line-height: 1.4;
  color: #1C2752;
  margin-bottom: 16px;
}
.news__text {
  font-size: 17px;
  margin-bottom: 17px;
}
.news__view-more {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #1C2752;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news__view-more:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #FFC368;
}

/*#########################################3*/
.newsletter {
  background: #FFB342;
}
.newsletter__container {
  padding: 141px 15px 52px 15px;
}
@media (max-width: 768px) {
  .newsletter__container {
    padding: 60px 15px 20px 15px;
  }
}
.newsletter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .newsletter__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.newsletter__left {
  color: #1C2752;
}
.newsletter__title {
  font-family: "Mulish";
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 9px;
}
.newsletter__subtitle {
  font-size: 18px;
  line-height: 1.5;
  max-width: 410px;
}
.newsletter__form input {
  border: 2px solid #FFFFFF;
  background: #FFB342;
  font-size: 17px;
  line-height: 1.6;
  color: #FFFFFF;
  width: 389px;
  padding: 20px 0px 20px 25px;
}
.newsletter__form input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 1.6;
  color: #FFFFFF;
}
.newsletter__form input::-moz-placeholder {
  font-size: 17px;
  line-height: 1.6;
  color: #FFFFFF;
}
.newsletter__form input:-ms-input-placeholder {
  font-size: 17px;
  line-height: 1.6;
  color: #FFFFFF;
}
.newsletter__form input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 1.6;
  color: #FFFFFF;
}
.newsletter__form input::placeholder {
  font-size: 17px;
  line-height: 1.6;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .newsletter__form input {
    width: 160px;
  }
}
.newsletter__form button {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  font-size: 17px;
  line-height: 1.6;
  color: #1C2752;
  padding: 20px 48px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.newsletter__form button:hover {
  color: #FFFFFF;
  background: #FFB342;
  border: 2px solid #FFFFFF;
}
@media (max-width: 768px) {
  .newsletter__form button {
    padding: 20px;
  }
}

/*######################FOOTER#############################*/
.footer {
  background: #1C2752;
}
.footer__container {
  padding: 59px 15px 90px 15px;
}
@media (max-width: 768px) {
  .footer__container {
    padding: 59px 15px 30px 15px;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  gap: 75px;
}
@media (max-width: 768px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
}
.footer__logo {
  max-width: 100%;
  height: 100%;
  text-align: bottom;
}
.footer__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
  color: #FFFFFF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1025px) {
  .footer__logos {
    gap: 30px;
  }
}
.footer__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 140px;
}
@media (max-width: 768px) {
  .footer__columns {
    gap: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__text-column {
  margin-top: 41px;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  max-width: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.footer__img {
  padding: 20px;
  background: #2C3765;
  border-radius: 100px;
}
.footer__column-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
@media (max-width: 768px) {
  .footer__column-links {
    gap: 50px;
  }
}
@media (max-width: 321px) {
  .footer__column-links {
    gap: 30px;
  }
}
.footer__column-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__column-link a {
  font-size: 17px;
  line-height: 1.6;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__column-link a:hover {
  color: #f4b85d;
}
.footer__columns-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 140px;
}
@media (max-width: 768px) {
  .footer__columns-link {
    gap: 50px;
  }
}
@media (max-width: 321px) {
  .footer__columns-link {
    gap: 40px;
  }
}
.footer__mini-title {
  font-family: "Mulish";
  font-size: 20px;
  line-height: 1.4;
  color: #FFB342;
  margin-bottom: 6px;
}
