@use "./zero_style.scss";
/*###############*/
$maxWidth: 1440;
@mixin adaptiv-fonts($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));//АДАПТИВНИЙ ШРИФТ(Фрілансер по життю)
   }
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    //height: 100%;
    font-family: Inter;
    color: #7E7E7E;
    letter-spacing: 0.36px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    @media(max-width: 1220px){
        max-width: 970px;
    }
    @media(max-width: 991.98px){
        max-width: 750px;    
    }
    @media(max-width: 767.98px){
        max-width: none;
    }
}
.header {

    &__top {
        background: #F2F2F2;
        
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 426px){
            display: flex;
            flex-direction: column;
        }
    }

    &__menu {
    }
}

.top-h {
    &__container{
        padding: 21px 15px;
        display: flex;
        justify-content: space-between;
    }

    &__hours {
        color: #1C2752;
    }

    &__social {
        
    }

    &__img {
        padding: 3px;
        margin-right: 20px;
        &:last-child{
            margin-right: 0px;
        }
    }
}

.body-h { 
    padding: 30px 0px 30px 0;
    &__logo {
    }

    &__contacts {
        
    }

    &__block {
        
        
    }
    &__circle{
        
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media(max-width: 768px){
            display: none;
        }
    }

    &__mail {
        color: #1C2752;

    }

    &__info {
    }
}
.contacts{
    display: flex;
    gap: 65px;
    @media(max-width: 426px){
        gap: 30px;
    }
}
.mail-text{
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 130%;   
}
.text-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.small-text{
    font-size: 17px;
    line-height: 159%;
    
    
}
.circle{
    padding: 23px 20px;
    height: 68px;
    background: #FFB342;
    border-radius: 100px;
}
.block-img{
    display: flex;
    gap: 15px;
}

.header-m {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 45px;
    background: #FFB342;
    @media(max-width: 426px){
        display: flex;
        flex-direction: column;
        padding-left: 13px;
        gap: 10px;
    }
    &__list {
        
        display: flex;
        gap: 49px;
        a{
            color: #222222;
            &:hover{
                color: #FFFFFF;
            }
        }
        @media(max-width: 376px){
            flex-wrap: wrap;

        }
    }

    &__item {
    }

    &__button {
        background: #1C2752;
        border: 2px solid #1C2752;  
        color: #F4F4F4;
        padding: 19px 42px;
        transition: all 0.3s ease 0s;
        &:hover{
            color: #1C2752;
            border: 2px solid #fff;
            background: #FFF;
            transition: all 0.3s ease 0s;
        }
        @media(max-width: 426px){
            padding: 16px 20px;
        }
    }
}
/*##########################################################*/
.leader { 
    margin-top: -52px;
    background-image: url('../img/IMAGE_bg.jpg');//FULL SCREEN########################
    background-size: cover;
    display: flex;
    min-height: 100vh;
    &__container {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    &__bg-text {
        align-items: center;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.2);
        max-width: 662px;
        padding-left: 30px;
        padding-top: 2px;
        padding-bottom: 2px;
        //position: relative;
        &::before{
            
            padding-right: 30px;
            padding: 3px 35px 4px 4px;
            content: '';
            background-image: url(../img/icons/IMAGE_metal-circle.png);
            background-repeat: no-repeat;
            
            
        }
        margin-bottom: 31px;
    }

    &__title {
        max-width: 712px;
        font-family: 'Mulish';
        @include adaptiv-fonts(60, 27);
        line-height: 130%;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 29px;
    }

    &__button {
        max-width: 227px;
        @media(max-width: 426px){
            max-width: 170px;
        }
    }
}
.container {
}
.button {
    display: flex;
    justify-content: center;
    padding: 19px 0;
    @include adaptiv-fonts(20, 16);
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #1C2752;
    display: flex;
    background: #FFB342;
    border: 2px solid #FFB342;
    transition: all 0.3s ease 0s;
    &:hover{
        transition: all 0.3s ease 0s;
        background: #f7a121; 
        border: 2px solid #f4b85d;
    }
    
}
/*#################################*/
.provide-future {
    margin: 140px 0;
    @media(max-width: 426px){
        margin: 70px 0;
    }
    &__container {
        

    }

    &__row {
        display: flex;
        @media(max-width: 769px){
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    &__img {
        margin-right: 50px;
        img{
            @media(max-width: 426px){
                max-width: 100%;
                max-height: 100%;
            }
            
            
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__bg-text {
        max-width: 249px;
        color: #1C2752;
        
    }

    &__title {
    }

    &__text1 {
        font-size: 18px;
        margin-bottom: 10px;
        
    }
    &__text{
        margin-bottom: 27px;
    }

    &__exp-block {
    }
}
.container {
}
.bg-text {
    background: #F4F4F4;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 150%;
    padding-left: 20px;
    &::before{           
        content: '';
        padding: 3px 10px 4px 20px;
        background-image: url(../img/icons/IMAGE_mini-logo.png);
        background-repeat: no-repeat;
    }
    margin-bottom: 22px;
}
.title {
    font-size: 45px;
    line-height: 130%;
    color: #1C2752;
    margin-bottom: 12px;
    @media(max-width: 425px){
        text-align: center;
    }
}
.small-text {
    
}
.exp-block {
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 769px){
        display: flex;
        flex-direction: column;
    }
    &__square {
        padding: 24px 43px 40px 43px;
        background: #F4F4F4;
        margin-right: 40px;
    }

    &__years {
        font-size: 80px;
        line-height: 110%;
        text-align: center;
        color: #FFB342;
        
    }

    &__text {
        max-width: 112px;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #1C2752;
    }

    &__list {

    }

    &__item {
        &:not(:last-child){
            margin-bottom: 10px;
            @media(max-width: 426px){
                margin-bottom: 5px;
            }
        }
    }
}
/*###############################*/
.professiaonal-service {
    background: #FFB342;
    &__container {
        padding:140px 15px 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(max-width: 426px){
            padding-top: 70px;
        }
    }

    &__bg-text {
        max-width: 207px;
        padding-right: 10px;
        color: #1C2752;

    }

    &__text {
        color: #1C2752;
        max-width: 832px;
        margin-bottom: 37px;
    }

    &__buttons {
        display: flex;
        gap: 30px;
        color: #222222;
        margin-bottom: 40px;
        @media(max-width: 426px){
            display: flex;
            flex-direction: column;
        }
    }

    &__button-city {
        padding: 20px 41px;
        max-width: 249px;
        border: 1px solid #1C2752;
        &::before{
            content: '';
            padding: 2px;
            background-image: url(../img/icons/IMAGE_city.svg);
            background-repeat: no-repeat;
            padding-right: 45px;
            
        }
    }

    &__button-home {
        padding: 20px 41px;
        max-width: 249px;
        border: 1px solid #1C2752;
        &::before{
            content: '';
            background-image: url(../img/icons/IMAGE_home.svg);
            background-repeat: no-repeat;
            padding-right: 45px;
            
        }
    }

    &__button-industry {
        padding: 19px 41px;
        max-width: 249px;
        border: 1px solid #1C2752;
        &::before{
            content: '';
            background-image: url(../img/icons/IMAGE_ind.svg);
            background-repeat: no-repeat;
            padding-right: 45px;
        }
        
    }

    &__commercial {
        @media(max-width: 426px){
            display: flex;
            flex-direction: column;
            
        }

    }
}
.button-black{
    border: 1px solid #1C2752;
    display: flex;
    justify-content: center;
    padding: 17px 41px;
    @include adaptiv-fonts(20, 16);
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #1C2752;
    transition: all 0.3s ease 0s;
    &:hover{
        background: #FFFFFF;
        border: 1px solid #FFFFFF;  
        transition: all 0.3s ease 0s;
    }
}
.container {
}
.bg-text {
    
}


    

.title {
}
.small-text {
}
.button {
}
.button-industry {
}
.commercial {
    margin-top: -60px;
    background: #FFFFFF;
    box-shadow: -1px 6px 18px rgba(0, 0, 0, 0.09);
    padding: 70px 60px;
    display: flex;
    position: relative;
    top: 85px;
    
    @media(max-width: 769px){
        padding: 70px 0px;
    }
   
    @media(max-width: 767.98px){
        padding: 30px 10px;
    }
    @media(max-width: 321px){
        padding: 30px 0px;
    }
    
    &__content {
        margin-right: 75px;
        @media(max-width: 321px){
            margin-right: 64px;
        }
    }

    &__bg-text {
        max-width: 259px;
        color: #1C2752;
        padding-right: 10px;
        }

    &__button {
        max-width: 190px;
        @media(max-width: 426px){
            margin-bottom: 20px;
        }
    }

    &__img {
        img{
            @media(max-width: 426px){
                max-width: 100%;
                max-height: 100%;
            }
    }
}
    &__title {
        margin-top: 23px;
    }

    &__text1{
        margin-bottom: 10px;
    }
    &__text{
        margin-bottom: 27px;
    }
}
/*#########################################################*/
.our-service {
    background: #F4F4F4;
    &__container {
        padding: 238px 15px 140px 15px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media(max-width: 426px){
            padding-top: 160px;
            padding-bottom: 70px;
        }
    }

    &__bg-text {
        padding-right: 10px;
        background: #FFF;
        color: #1C2752;
        &::before{           
            content: '';
            padding: 3px 10px 4px 20px;
            background-image: url(../img/icons/IMAGEpen.svg);
            background-repeat: no-repeat;
        }
    }

    &__grid {
    }
    &__text {
        max-width: 819px;
        text-align: center;
        margin-bottom: 47px;
    }
}
.container {
}
.bg-text {
}
.title {
}
.small-text {
}
.grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 30px;
    @media(max-width: 769px){
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }
    @media(max-width: 426px){
        display: grid;
        grid-template-columns: 1fr;
    }
    &__block {
        background: #1C2752;
        padding: 40px 35px;
        @media(max-width: 426px){
            padding: 30px 35px;
        }
    }

    &__icon {
        margin-bottom: 20px;
    }

    &__title {
        font-size: 25px;
        line-height: 150%;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #FFB342;
        margin-bottom: 15px;
    }

    &__text {
        margin-bottom: 22px;
        color: #D2D2D2;
    }

    &__view-more {
        color:#FFFFFF;
    }
}
/*############################################*/
.our-project {
    background: #1C2752;
    &__container {
        max-width: 1370px;
        margin: 0 auto;
        padding: 150px 15px 190px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media(max-width: 426px){
            padding: 75px 0 ;
        }
    }

    &__bg-text {
    }

    &__title {
        color: #FFFFFF;
    }

    &__slider {
        display: flex;
        column-gap: 30px;
        @media(max-width: 1024px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        @media(max-width: 426px){
            display: flex;
            flex-direction: column;
        }
    }
}
.bg-text {
}
.title {
}
.slider-f{
    transition: all 0.3s ease 0s;
    &:hover{
        transition: all 0.3s ease 0s;
        padding-bottom: 30px;
    }
}
.slider {

    &__card {
        background: #FFFFFF;
        border: 1px solid #D2D2D2;
        padding: 21px 21px 10px 21px;
        transition: all 0.3s ease 0s;
        @media(max-width: 426px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    }

    &__img {
        margin-bottom: 27px;
        
        @media(max-width: 426px){
            width: 80%;
            height: 80%;
        }
    }

    &__title {
        font-size: 25px;
        line-height: 150%;
        text-align: center;
        text-transform: capitalize;
        color: #1C2752;
        margin-bottom: 4px;
    }

    &__minitext {
        font-size: 17px;
        line-height: 159%;
        text-align: center;
        color: #7E7E7E;
    }
}
/*###########################################*/
.feedback {
    h2{
        color: #1C2752;
    }
    &__container {
        display: flex;
        flex-direction: column;
        padding: 145px 15px;
        @media(max-width: 426px){
            padding: 75px 0;
        }
    }
    &__row {
        display: flex;
        gap: 45px;
        margin-bottom: 100px;
        @media(max-width: 769px){
            display: flex;
            flex-direction: column;
        }
    }
    &__bg-text {
        color: #1C2752;
        margin-bottom: 22px;
        padding: 3px 13px 3px 23px;
        &::before{           
            content: '';
            padding: 3px 10px 4px 20px;
            background-image: url(../img/icons/IMAGEpen.svg);
            background-repeat: no-repeat;
        }
    }

    &__title {
        margin-top: 22px;
    }

    &__customers {
    }

    &__comments {
        border: 1px solid #DDDDDD;
    }
    &__line{
        height: 1px;
        background: #DCDCDC;
    }

    &__block {
        background: #FFB342;
        padding: 60px 68px 50px 40px;
    }

    &__percent {
        margin-top: 22px;
        font-size: 25px;
        line-height: 130%;
        color: #1C2752;
        margin-bottom: 13px;
    }

    &__qa {
        color: #1C2752;
        line-height: 150%;
        margin-bottom: 23px;
    }

    &__number {
        display: flex;
        align-items: center;
    }

    &__logo-numb {
        background: #FFFFFF;
        height: 55px;
        width: 55px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        transition: all 0.3s ease 0s;
        &:hover{
            transition: all 0.3s ease 0s;
            background: #ededed;
        }
    }

    &__numb {

        font-size: 30px;
        line-height: 150%;
        color: #FFFFFF;
    }

    &__forms {
        
    }

    &__form {
        background: #F4F4F4;
        padding: 50px 40px 52px 40px;
    }

    &__clients {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title2 {
        margin-bottom: 47px;
    }

    &__icons {
        display: flex;
        gap: 142px;
        @media(max-width: 1024px){
            gap: 55px;
        }
        @media(max-width: 769px){
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @media(max-width: 426px){
            gap: 20px;
            display: flex;
            flex-direction: column;
        }
    }

    &__client {
        
    }
}
.container {
}

.our-project {

    
}
.bg-text {
}
.title {
}
.comments {
    padding: 41px;
    margin-bottom: 40px;
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
    }

    &__photo {
        display: flex;
    }

    &__text {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name {
        font-family: Mulish;
        font-size: 22px;
        line-height: 140%;
        color: #1C2752;

    }

    &__city {
    }

    &__icons {
        background: #FFB342;
        border-radius: 100px;
        height: 55px;
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    

    &__bottom {
    }

    &__comment {
        margin-top: 20px;
        font-weight: 700;
        line-height: 150%;
        color: #7E7E7E;
        font-style: italic;
        span{
            color: #1C2752;
        }
        margin-bottom: 23px;
    }

    &__buttons {
        
        button{           
            background: #F4F4F4;
            border-radius: 100px;
            width: 50px;  
            height: 50px;
            transition: all 0.3s ease 0s;
            &:hover{
                transition: all 0.3s ease 0s;
                background: #e0dfdf;
            }
        }
    }

    &__next {
        margin-right: 21px;
    }

    &__previous {
        
    }
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    textarea{
        width: 484px;
        height: 150px;
        font-size: 17px;
        line-height: 159%;
        color: #1C2752;
        padding: 19px 0 0 44px;
        @media(max-width: 426px){
            width: 340px;
        }
        @media(max-width: 426px){
            width: 300px;
        }
        @media(max-width: 321px){
            width: 240px;
        }
    }
    button{
        box-sizing: border-box;
        background: #FFB342;
        border: 2px solid #FFB342;
        padding: 20px 0;
        font-weight: 700;
        font-size: 17px;
        line-height: 159%;
        color: #1C2752;
        transition: all 0.3s ease 0s;
        &:hover{
            transition: all 0.3s ease 0s;
            background: #f7a121; 
            border: 2px solid #f7a121;
        }
    }
}
.input {
    width: 484px;
    height: 65px;
    font-size: 17px;
    line-height: 159%;
    color: #1C2752;
    padding-left: 44px;
    @media(max-width: 426px){
        max-width: 340px;
    }
    @media(max-width: 426px){
        width: 300px;
    }
    @media(max-width: 321px){
        width: 240px;
    }
}
/*#####################################*/
.prices {
    background: #F4F4F4;
    &__container {
        padding: 150px 15px 135px 15px;
        @media(max-width: 769px){
            padding: 80px 0 95px 0;
        }
        @media(max-width: 425px){
            padding: 30px 0 30px 0;

        }
    }

    &__top {
        display: flex;
        //justify-content: space-between;
        align-items: center;
        @media(max-width: 769px){
            display: flex;
            gap: 10px;
        }
        @media(max-width: 767.98px){
            display: flex;
            flex-direction: column;
        }
    }

    &__left {
    }

    &__bg-text {
        background: #FFFFFF;
        color: #1C2752;
        padding: 3px 13px 3px 23px;
        
        &::before{           
            content: '';
            padding: 3px 10px 4px 20px;
            background-image: url(../img/icons/IMAGEpen.svg);
            background-repeat: no-repeat;
        }
    }

    &__title {
        margin-top: 23px;
    }

    &__right {
        max-width: 400px;
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;
    }

    &__columns {
        display: flex;
        gap: 30px;
        margin-bottom: 62px;
        @media(max-width: 769px){
            gap: 20px;
        }
        @media(max-width: 767.98px){
            display: flex;
            flex-direction: column;
        }
    }

    &__column {
        flex: 1 1 33.333%;
        background: #FFFFFF;
        padding: 40px 40px 50px 40px;
        display: flex;
        flex-direction: column;
        @media(max-width: 769px){
            padding: 40px 30px 50px 30px;
        }
        
    }

    &__bottom {
        display: flex;
        gap: 30px;
        @media(max-width: 425px){
            display: flex;
            flex-direction: column;
        }
    }

    &__body-text {
    }

    &__min-text {
        font-family: 'Mulish';
        font-size: 20px;
        line-height: 1.4;
        color: #1C2752;
        position: relative;
        padding-left: 40px;
        &::before{
            content: url(../img/IMAGEdone-border.png);
            padding-top: 4px;
            position: absolute;
            top: 0;
            left: 0;

        }
        
    }

    &__texts {
        font-size: 17px;
        line-height: 1.59;
        padding-left: 40px;

    }
}
.container {
}
.bg-text {
}
.title {
}
.column-p {
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
        
    }

    &__left {
    }

    &__plan {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #1C2752;

    }

    &__price {
        font-family: 'Mulish';
       font-size: 32px;
       line-height: 1.1;
       color: #1C2752;
    }

    &__right {
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.32px;
    }

    &__line {
        height: 1px;
        background: #D7D7D7;
        margin-bottom: 29px;
    }

    &__list {
        margin-bottom: 55px;
        flex: 1 1 auto;
    }

    &__item {
        font-size: 17px;
        line-height: 27px; 
        text-transform: capitalize;
        line-height: 1.59;
        position: relative;
        padding-left: 25px;
        &::before{
            content: url(../img/IMAGEdone.svg);
            padding-top: 4px;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:not(:last-child){
            margin-bottom: 20px;
        }
        
    }

    &__bbutton {
        background: #FFB342;
        border: 2px solid #FFB342;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 19px 0;
        font-size: 20px;
        line-height: 1.5;
        color: #1C2752;
        transition: all 0.3s ease 0s;
        &:hover{
            transition: all 0.3s ease 0s;
            background: #f7a121; 
            border: 2px solid #f7a121;
        }
    }

    &__popular {
        text-transform: uppercase;
        color: #1C2752;
        line-height: 1.5;
        background: #FFB342;
        text-align: center;
        margin-bottom: 15px;
    }

    &__visit {
        
    }
}
/*##############################################*/
.news {
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 150px 15px;
        @media(max-width: 768px){
            padding: 60px 15px;
        }
    }

    &__bg-text {
        padding: 3px 13px 3px 23px;
        color: #1C2752;
        &::before{           
            content: '';
            padding: 3px 10px 4px 20px;
            background-image: url(../img/icons/IMAGEpen.svg);
            background-repeat: no-repeat;
        }
    }

    &__title {
        margin-bottom: 40px;
    }

    &__articles {
        display: flex;
        gap: 30px;
        @media(max-width: 768px){
            display: flex;
            flex-direction: column;
        }
    }

    &__img {
        margin-top: -20px;
        max-width: 100%;
        max-height: 100%;
    }

    &__orange-block {
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.3px;
        color: #1C2752;
        display: flex;
        justify-content: center;
        text-align: center;
        margin:-35px 0 23px 0;
        
        
    }

    &__creator {
        padding: 21px 38px 21px 50px;
        position: relative;
        background: #FFC368;
        &::before{
            padding: 15px 19px 6px 0px;
            content: '';
            background-image: url(../img/icons/Vectorpeople.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: 21px;
            left: 21px;
        }
        
        
    }

    &__date {
        padding: 21px 25px 21px 42px;
        background: #FFB342;
        position: relative;
        &::before{
            padding: 15px 19px 6px 0px;
            content: '';
            background-image: url(../img/icons/Vectortime.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: 23px;
            left: 14px;
        }
        
    }

    &__body {
    }

    &__subtitle {
        font-family: 'Mulish';
        font-size: 30px;
        line-height: 1.4;
        color: #1C2752;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 17px;
        margin-bottom: 17px;
    }

    &__view-more {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #1C2752;
        transition: all 0.3s ease 0s;
        &:hover{
            transition: all 0.3s ease 0s;
            color: #FFC368;
        }
    }
}
.bg-text {
}
.title {
}
/*#########################################3*/
.newsletter {
    background: #FFB342;
    &__container {
        padding: 141px 15px 52px 15px;
        @media(max-width: 768px){
            padding: 60px 15px 20px 15px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 768px){
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__left {
        color: #1C2752;
    }

    &__title {
        font-family: 'Mulish';
        font-size: 32px;
        line-height: 1.4;
        margin-bottom: 9px;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 1.5; 
        max-width: 410px; 
    }

    &__right {
        
    }

    &__form {
        input{
            border: 2px solid #FFFFFF;
            background: #FFB342;
            font-size: 17px;
            line-height: 1.6;
            color: #FFFFFF;
            width: 389px;
            padding: 20px 0px 20px 25px;
            &::placeholder{
                font-size: 17px;
                line-height: 1.6;
                color: #FFFFFF;
            }
            @media(max-width: 768px){
                width: 160px;
            }
        }
        button{
            background: #FFFFFF;
            border: 2px solid #FFFFFF;
            font-size: 17px;
            line-height: 1.6;
            color: #1C2752;
            padding: 20px 48px;
            transition: all 0.3s ease 0s;
            &:hover{
                color: #FFFFFF;
                background: #FFB342;
                border: 2px solid #FFFFFF;
            }
            @media(max-width: 768px){
                padding: 20px;
            }
        }
    }
}
.container {
    //padding:  15px;
}
/*######################FOOTER#############################*/
.footer {
    background: #1C2752;
    &__container {
        padding: 59px 15px 90px 15px;
        @media(max-width: 768px){
            padding: 59px 15px 30px 15px;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
        gap: 75px;
        @media(max-width: 768px){
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    &__logo {
        max-width: 100%;
        height: 100%;
        text-align: bottom;
    }

    &__logos {
        display: flex;
        gap: 46px;
        color: #FFFFFF;
        flex-wrap: wrap;
        @media(max-width: 1025px){
            gap: 30px;
        }
    }

    &__block {
    }

    &__circle {
    }

    &__text {
        flex: 1 1 auto;
    }

    &__mail {
    }

    &__info {
    }

    &__body {
    }

    &__columns {
        display: flex;
        gap: 140px;
        @media(max-width: 768px){
            gap: 50px;
            display: flex;
            flex-direction: column;
        }
    }

    &__text-column {
        margin-top: 41px;
        font-size: 18px;
        line-height: 1.5;
        color: #FFFFFF;
        max-width: 395px;
        display: flex;
        flex-direction: column;

    }

    &__social {
        display: flex;
        gap: 15px;
    }

    &__img {
        padding: 20px;
        background: #2C3765;
        border-radius: 100px;
    }

    &__column-links {
        display: flex;
        gap: 80px;
        @media(max-width: 768px){
            gap: 50px;
        }
        @media(max-width: 321px){
            gap: 40px;
        }
    }

    &__column-link {
        display: flex;
        flex-direction: column;
        gap: 10px;
        a{
            font-size: 17px;
            line-height: 1.6;
            color: #FFFFFF;
            transition: all 0.3s ease 0s;
            &:hover{
                color: #f4b85d;
            }
            @media(max-width: 1024px){
                //display: none;
            }
        }
    }
    &__columns-link{
        display: flex;
        gap: 140px;
        @media(max-width: 768px){
            gap: 50px;
        }
        @media(max-width: 321px){
            gap: 40px;
        }
    }

    &__mini-title {
        font-family: 'Mulish';
        font-size: 20px;
        line-height: 1.4;
        color: #FFB342;
        margin-bottom: 6px;
    }
}
.container {
}
.block-img {
}
.circle {
}
.text-body {
}
.mail-text {
}
.small-text {
}

